name: msgbits

services:
  backend:
    image: ${DOCKER_REPO}/msgbits_backend:${IMAGE_TAG}
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - app-network
    
  redis:
    image: "redis:7.0-alpine"
    volumes:
      - redis_data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis_data: